<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}" />
    <script src="script.js"></script>
	
	{% if title %}
    <title>{{ title }} - eeeoh dude</title>
    {% else %}
    <title>Welcome to EEEOH</title>
    {% endif %}
	
  </head>

  <body >
    <h1>Eeeoh database</h1>
    
    <div class="sidebar">
      <ul>
        <li>
            <a href="#">Subject</a> </li>
        <li>    
            <a href="#">Tissue</a></li>
            <li><a href="./db?db=action">action</a></li>
            <li><a href="./db?db=storage">Storage</a></li>
            <li><a href="./db?db=consent">Consents</a></li>
      </ul>
    </div>
    <div class="content">
	  <p><hr></p>	  
      {% block content %}{% endblock %}   
    </div>
  </body>

</html>