<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}" />
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
	
	{% if title %}
    <title>{{ title }} - eeeoh dude</title>
    {% else %}
    <title>Welcome to EEEOH</title>
    {% endif %}
	
	
	 <script type=text/javascript>
    $(function() {
      
     
      $('a#xtable').bind('click', function() {
        $.getJSON('/go', {
          xtable: $('input[name="a"]').val(),
          
		  do: 1
        }, function(data) {
          $("#result").html(data.result);
        });
        return false;
      });
      
      $('a#table_userlogin').bind('click', function() {
        $.getJSON('/go', {
          xtable: $('input[name="a"]').val(),
          
		  do: 2
        }, function(data) {
          $("#result").html(data.result);
        });
        return false; });
     
		// get tables 
		$('a#getTable').bind('click', function() {
				$.getJSON('/go', {
				  //a: $('name="a"').val(),
				  
				  do: 2
				}, function(data) {
				  $("#result").html(data.result);
				});
				return false; });
	 

	  
});


function checkFilled(e) {
	var inputVal = document.getElementById(e.id);
    if (inputVal.value == 0) {
        inputVal.style.backgroundColor = "yellow";
    }
    else{
        inputVal.style.backgroundColor = "red";
    }
}

  </script>
	
  </head>

  <body >
 
     <div class="tophead"><a href="#">HOME</a> | PROJECTS | <a href="javascript:void();" id="getTable">TABLES</a> | INSERT | CONTACT</div>
    
    
    <div class="content">
      {% block content %}{% endblock %} 
    </div>
 
 
 
 
 
  </body>

</html>

 