{% extends "base.html" %}
{% block content %}



{% if name %}

  <br>
  <div><span class="generalHi">You are logged in as: {{ name }} </span> 
  ::  <span><a href='./logout'> logout now </a></span>
  </div>
  <br>

  <div class="row">
<div class="col-lg-2" >  </div>

<script>
  $(function() {
	  
	  $('#datec').datepicker();
	  $('#datec').datepicker().datepicker('setDate', new Date());
    var nameTags = [
      
      {% for tags in isearch %}
         "{{tags[0]}}",      
      {% endfor %}
      
    ];
    
    
    
    
    $( "#sampletype_name" ).autocomplete({
      source: nameTags
    });
    

    


$('#subject-form').validate({
        rules: {
            
            age: {
                number: true,
                required: true
            },
            
           
        },
       
        success: function (element) {
            element.text('good').addClass('valid')
                .closest('.form-group').removeClass('error').addClass('success');
        }
    });


  });


$('#project_name').change(function(e){
        var values = $('#project_table').val()
        alert(values);
    });


 
 
 
  </script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<div class="row">
<div class="col-lg-8" >

					<span class="generalHi"> Inputing a new subject (id's are automatically created)  </span>
                     <br> <br>
        
         <div class="row">
							<div class="col-lg-12" style="background-color:#f2f1eb;">
							 Please select multiple entries by holding Ctrl key down.  If you do not see your choice you can add it by clicking on the link beside it. 
						   </div>
						 </div>

						<br>
                     
                     
				<form role="form" id="subject-form" action = "/table_subject" class="form-horizontal" method="post">
				  
										  <div class="form-group">
								  <label class="control-label col-lg-3" for="age">Enter Age </label>
									  <div class="col-lg-3">
										   <input type="text" class="form-control" id="age" name = "age" placeholder="Age in digits only">
									  </div>
						   

								  <label class="control-label col-lg-3" for="sex">Sex</label>
									  <div class="col-lg-3">
										 <select class="form-control" id="sex" name = "sex">      
										 <option value = "M"> male </option>  
										 <option value = "F"> female </option>
										 <option value = "UNK"> unknown </option>
										 <option value = "OTHER"> other </option>
										 </select>

									  </div>
								 
							</div>
							

						
						 <div class="form-group">
							  <label class="control-label col-lg-3" for="consent">Consent  </label>
							  <div class="col-lg-3">
								
									 <select class="form-control" id="consent_name" name = "consent_name" multiple>      
									
									 {% for tags in consentSearch %}
									     <option value="{{tags[0]}}"> {{tags[1]}} </option>
									 {% endfor %} 
									  
									 </select>

							  </div>
							
							  <label class="control-label col-lg-3" for="project">Project </label>
							  <div class="col-lg-3">
								
									 <select class="form-control" id="project_name" name = "project_name" multiple>      
									 {% for tags in projectSearch %}
									     <option value="{{tags[0]}}"> {{tags[1]}} </option>
									 {% endfor %} 
									 </select>

							  </div>


						</div>

						 <div class="form-group">
							  <label class="control-label col-lg-3" for="age"> Diagnosis </label>
							  <div class="col-lg-3">
								
									 <select class="form-control" id="diagnosis_name" name = "diagnosis_name" multiple>      
									 {% for tags in diagnosisSearch %}
									     <option value="{{tags[0]}}"> {{tags[1]}} </option>
									 {% endfor %}   
									 </select>

							  </div>
							
							  <label class="control-label col-lg-3" for="datec">Date Collection </label>
							  <div class="col-lg-3">
								<input type="text" id="datec" name="datec">
							   
							  </div>


						</div>

                        <div class="form-group">
				  <label for="notes" class="control-label col-lg-3"> Notes:</label>
				  <div class="col-lg-9">
				  <textarea class="form-control" rows="5" id="notes"  name="notes" placeholder="additional notes?" ></textarea>
				</div></div>

				 
				 
				 
				 <input type="hidden" id ="action" name="action" value=1>
				 <input type = "hidden" name = "numrows" id="numrows" value=0>
				  <button type="submit" class="btn btn-default">Submit</button>
				  
				  
				  
				  
				</form>


</div>
	
	


<div class="col-lg-4" >


  



</div>
 
 
  </div>


 
  {% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}



 
   
{% endblock %}
