{% extends "base.html" %}
{% block content %}



{% if name %}




<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<br>

  <div><span class="generalHi">You are logged in as: {{ name }} </span> 
  ::  <span><a href='./logout'> logout now </a></span>
  </div>

<br>

<form role="form" id="subject-form" name = "subject-form" class="form-horizontal" method="post" enctype="multipart/form-data" action="javascript:void();">



<!-- first row select where the sample is coming from  -->
<div class="row">

	<div class="col-lg-1" >  </div>

		<div class="col-lg-2" ><label for="what1">Please Select subject ID </label></div>

		<div class="col-lg-5" >
	    <input type="text" class="form-control" id="what1" name = "what1" placeholder="Enter ID">
		</div>


		<div class="col-lg-1" ><label for="datec">Date Collection </label></div>
		<div class="col-lg-2"><input type="text" id="datec" name="datec"></div>
		<div class="col-lg-1" >  </div>

		
</div>
<!-- first row select where the sample is coming from  -->


<br>

	
<div class="row" id="hide1" name="hide1">

	<div class="col-lg-1" >  </div>

		<div class="col-lg-2" >
			<label for="hide1_l">Select sample </label>
		</div>

		<div class="col-lg-9" id="hide1_no" name="hide1_no">
	   
		  
			 <select class="form-control" id="sample_id" name = "sample_id" >
			 <div id="hide1_o" name ="hide1_o">     
					<option value="-1"></option>
				</div>
			 </select>

		 </div>

		
</div>


<div class="row" id="hide12" name="hide12">

	<div class="col-lg-4" >  </div>

		<div class="col-lg-7"> Sorry there are no samples associated with this subject as of yet. </div>
		<div class="col-lg-1" >  </div>
		
</div>

<!-- end 2nd row this is to display ids-->

<br>





<!-- details for specifics -->

<div name="hide2" id="hide2">

<!-- row 1 sample types -->
<div class="row">
		<div class="col-lg-1" >  </div>
		
		<div class="col-lg-2" >
		<label for="sample">Sample Type</label>
		</div>

		<div class="col-lg-3" >  
			 <select class="form-control" id="sample_type" name = "sample_type" >
				 <option value="-1" selected></option>
				{% for tags in sampletype %}
			   <option value="{{tags[0]}}"> {{tags[2]}}: {{tags[1]}} </option>
			  {% endfor %}

			 
			 </select>
		</div>

		<div class="col-lg-2" >
		<label for="sample_subtype"> Sample subtype </label>
		</div>

		<div class="col-lg-3" >  
			 <select class="form-control" id="sample_subtype" name = "sample_subtype" >
			  <option value="-1" selected></option>
			  {% for tags in subtype %}
			   <option value="{{tags[0]}}"> {{tags[1]}} </option>
			  {% endfor %}  
			 </select>
		</div>
<div class="col-lg-1" >  </div>

<!-- end row 1 samples details -->
</div>

<br>
<!-- row 2 location location location -->

<!-- got rid of location dropdown bar-->
<!--
<div class="row">
		<div class="col-lg-1" >  </div>
		
		<div class="col-lg-1" >
		<label for="sample">Location</label>
		</div>

		<div class="col-lg-10" >
			
			 <select class="form-control" id="location" name = "location" >
				 <option value="-1" selected></option>
			 {% for tags in location[0] %}
			   <option value="{{tags[0]}}"> {{tags}} </option>
			  {% endfor %}
			 </select>
		</div></div>
<!-- end -->

<!-- end row 2 locations -->


<br>
<!-- row 3 location location search bar -->
<div class="row">
		<div class="col-lg-1" >  </div>
		
		<div class="col-lg-2" ><label for="sample">Location Search</label></div>
		<div class="col-lg-6" >
		<input type="text" class="form-control" id="whatlocation" name = "whatlocation" placeholder="where did you store this?">
		</div>

		<div class="col-lg-1" ><label for="sample">ADD</label></div>
		<div class="col-lg-1" ><input type="text" class="form-control" id="addloc" name = "addloc"></div>
		<div class="col-lg-1" >  </div>


<!-- end row 3 locations -->
</div>

<br>
<!-- add notes here -->
<div class="row">
				<div class="col-lg-1" >  </div>
				<div class="col-lg-2" > <label for="notes"> Notes:</label> </div>
				<div class="col-lg-8">
				  <textarea class="form-control" rows="5" id="notes"  name="notes" placeholder="additional notes?" ></textarea>
				  </div>
				<div class="col-lg-1" >  </div>
				
</div>
<!-- end notes --> 
<!-- end hide 2 details -->
</div>

<!-- meta fields starts here -->

<div id=tissue name="tissue">
<hr style="border-color:#820000">

<div class="form-group">
	<div class="col-lg-1" >  </div>

	<label for="weight" class="col-lg-1">Weight or Volume</label>
	<div class="col-lg-2"> <input type="text" id="weight" name="weight" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode ==46'></div>

	<div class="col-lg-2">
		
			 <select class="form-control" id="tissue_unit" name = "tissue_unit" >
			 {% for tags in unit %}
			   <option value="{{tags[0]}}"> {{tags[0]}} </option>
			  {% endfor %}
			 </select>
	</div>

	<label class="col-lg-1" for="accession">Acession#</label>
	<div class="col-lg-2"> <input type="text" id="accession" name="accession"></div>

	<label class="col-lg-1" for="percent_tumor">% Tumor </label>
	<div class="col-lg-2"> <input type="text" id="percent_tumor" name="percent_tumor" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode ==46'></div>

	
	
</div>



<div class="form-group">
	<div class="col-lg-1" >  </div>
	
	<label for="state" class="col-lg-1">State</label>
	<div class="col-lg-2">
			<select class="form-control" id="state" name="stage">
				<option value="Fresh Frozen">Fresh Frozen</option>
				<option value="FFPE">FFPE</option>
			
			 </select>

	</div>

	<label for="stage" class="col-lg-1">Stage</label>
	<div class="col-lg-3">
			<select class="form-control" id="stage" name="stage">
				<option value="biopsy">biopsy</option>
				<option value="metastasize">metastasize</option>
				<option value="normal">normal</option>
				<option value="primar">primary</option>
				<option value="recurrent/residual">recurrent/residual</option>
			 </select>
	</div>
    <label for="label" class="col-lg-1">Label</label>
	<div class="col-lg-3"> <input type="text" id="label" name="label" class="form-control"></div>

	

</div>

<div class="form-group">
	<div class="col-lg-1" >  </div>
	
<div>
<label for="upload" class="col-lg-1">Upload</label>
	<div class="col-lg-2"> <input type="file" id="file" name="file" class="file"></div>

<div class="col-lg-9" id="pic" name="pic">

</div>
	
</div>


</div>
<!-- end tissue -->
<!-- insert button -->

<br>


<br><br>
<hr style="border-color:#820000">
<div class="form-group">
	<div class="col-lg-1" >  </div>
	<div class="col-lg-2">
	<button type="submit"id="insert"name="insert" class="btn btn-default">Insert</button>
	</div>
	<div class="col-lg-9" >  <input type="hidden" id="meta" name="meta" value="0">
<input type="hidden" id="meta2" name="meta2" value="0"></div>
	
</div>
<!-- END insert button -->


 </form>

 <div id="temp" name="temp"></div>
 <script>
  


// autofill

$(function() {
	  
	  
    var nameTags = [
      
      {% for tags in IDs %}
         "{{tags[0]}},age {{tags[1]}},sex {{tags[2]}},date {{tags[3]}}",      
      {% endfor %}
      
    ];

    $( "#what1" ).autocomplete({
      source: nameTags
    });
    
// end autofill what1 which is for ids
// start autofill location      

    
	var locationTags = [
      
      {% for tags in location[0] %}
         "{{tags[0]}},{{ tags|join(',') }}",      
      {% endfor %}
      
    ];

    $( "#whatlocation" ).autocomplete({
      source: locationTags
    });

// end autofill locations    


  });
    

  
 // see what they want first, new or exisiting
$('#datec').datepicker();
$('#hide1').hide();
$('#hide12').hide();
$("#tissue").hide();

 $('#what1').bind('blur', function() {
		var thistable = 
        $.getJSON('/edit_sample2', {
          xtable: $( "#what1" ).val(),
          
		  ajDothis: 1
        }, function(data) {
				
				var txt = "";
			
					
				if (data.result == 0){
					//id="hide1_no"
					
					$('#hide1').hide();
					$('#hide12').fadeIn("slow");
				}
				else{
				for (var x in data.result) {
				txt += "<option value =" + data.result[x][0] +">" + data.result[x][0] + ",age " + data.result[x][1] + ",sex " + data.result[x][2] + ",date " + data.result[x][3]+ "</option>"	
				$("#sample_id").html(txt);
				$('#hide1').show();
				$('#hide12').hide();
				}
				courseStr = console.table(data.result);
			
				
			}
        });
        return false;
      });




 $('#sample_type').bind('change', function() {
		
		// var s = $( "#sample" ).val()
		// get text instead of value 
		var s = document.getElementById("sample_type").options[document.getElementById("sample_type").selectedIndex ].text
		
		if(/Tissue/.test(s)){
			$("#tissue").slideDown("slow","linear");
			document.getElementById('meta').value = 1; 
		}
		else{
			$("#tissue").slideUp("slow","linear");
			document.getElementById('meta').value = 0; 
		} 
        return false;
      });


  $('#insert').bind('click', function() {
	 meta = document.getElementById('meta').value
	 
	// meta 1 is for tissue 
     if (meta==1){
				
					var thistable = 
					$.getJSON('/edit_sample2', {
					  subject: $( "#what1" ).val(),
					  sample_id:  $( "#sample_id" ).val() ,
					  datec:  $( "#datec" ).val(),

					  sample_type:  $( "#sample_type" ).val(),
					  sample_subtype: $( "#sample_subtype").val(),
					  
					  location:  $( "#whatlocation" ).val(),
					  addloc:  $( "#addloc" ).val(),
					  weight:  $( "#weight" ).val(),
					  tissue_unit:  $( "#tissue_unit" ).val(),
					  accession:  $( "#accession" ).val(),
					  percent_tumor:  $( "#percent_tumor" ).val(),
					  state:          $( "#state" ).val(),
					  stage:          $( "#stage" ).val(),
					  notes:          $( "#notes" ).val(),
					  label:          $( "#label" ).val(),
					  ajDothis: 2
					},

					function(data) {
							
							var txt = "";
						
								
							
							courseStr = console.table(data.result);
						
							$("#temp").html($( "#sample_subtype" ).val());
							
				});	

        }



	//alert(sample_id);

return false; 

 });
 
 
  </script>



 
  {% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}



 
   
{% endblock %}
