{% extends "base.html" %}
{% block content %}



{% if name %}

  <br>
  <div><span class="generalHi">You are logged in as: {{ name }} </span> 
  ::  <span><a href='./logout'> logout now </a></span>
  </div>
  <br>

  <div class="row">
<div class="col-md-2" >  </div>

<script>
  $(function() {
    var nameTags = [
      
      {% for tags in isearch %}
         "{{tags[0]}}",      
      {% endfor %}
      
    ];
    
    $( "#subtype_name" ).autocomplete({
      source: nameTags
    });
    

    

  

$('#subtype-form').validate({
        rules: {
            subtype_name: {
                minlength: 3,
                required: true
            },
            
           
        },
       
        success: function (element) {
            element.text('good').addClass('valid')
                .closest('.form-group').removeClass('error').addClass('success');
        }
    });


  });
  
  </script>




<div class="col-md-6" >

					<span class="generalHi"> Editing subtype  </span>
                     <br> <br>
                     
                     
				<form role="form" id="subtype-form" action = "/table_subtype">
				  <div class="form-group">
					<label for="subtype_name">Subtypes:</label>
					<input type="text" class="form-control" id="subtype_name" name="subtype_name"  placeholder="Name of Subtype">
				  </div>
				  
				
				 <div class="form-group">
				  <label for="notes"> Notes:</label>
				  <textarea class="form-control" rows="5" id="notes"  name="notes" placeholder="additional notes?" ></textarea>
				</div>
				 <input type="hidden" name="action" value=1>
				 <input type = "hidden" name = "numrows" value=0>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>


</div>
	
	


<div class="col-md-4" >


  



</div>
 
 
  </div>


 
  {% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}



 
   
{% endblock %}
