{% extends "base.html" %}
{% block content %}

<title>Hello </title>
{% if name %}
  <h1>You are logged in as: {{ name }}!</h1>
  <a href='./logout'> logout now </a>
{% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}

{{content1}}
<form>
    <input type="text" size="5" name="a" id="a" onchange="checkFilled(this);"> +
    <input type="text" size="5" name="b"> =
    <span id="result">?</span>
    <p><a href="javascript:void();" id="calculate">calculate server side</a>
    <p><a href="javascript:void();" id="calculate2">subtracting</a>
      </form>
   
{% endblock %}