{% extends "base.html" %}
{% block content %}

<title>Hello </title>
{% if name %}
  <div><span class="generalHi">You are logged in as: {{ name }} </span> 
  ::  <span><a href='./logout'> logout now </a></span>
  </div>
  <br><br>
{% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}

{{content1}}
<form>
    <input type="hidden" name="do" id="do" value=1>
    See Generic Table <input type="text" size="5" name="a" id="a" value="projects" onchange="checkFilled(this);"> 
    <a href="javascript:void();" id="xtable"> see now </a>
    
	<p><a href="javascript:void();" id="table_userlogin"> <b>see userlogin with foreign key values display </b> </a>
      </form>
  
 <div class="CSSTableGenerator" >
              <span id="result"></span>
            </div> 
   
{% endblock %}