{% extends "base.html" %}
{% block content %}


{% if name %}
<br>
  <div><span class="generalHi">You are logged in as: {{ name }} </span> 
  ::  <span><a href='./logout'> logout now </a></span>
  </div>
  <br>
  <b> <span class="generalHi"> {{whatdidyoudo}} </span> </b>
  <br><br>
<div class="CSSTableGenerator">
	
<table>
	<tr>
	 {% for d in headinfo %}
		<td> {{d}} </td>
	{% endfor %}
	</tr>
   {% for row in data %}
		<tr>
      {% for c in row %}
	     <td> {{c}} </td>
	  {% endfor %}
	  <td>  <a href="./{{route}}?action=-1&numrows=0&id={{row[0]}}"> delete </a> </td>
	  
			{% if location %}
			<td>  <a href="./{{route}}?numrows=0&action=0&parent_id={{row[0]}}"> more... </a> </td>
			{% endif %}
	  
	  
	  </tr>
    {% endfor %}

</table>  


</div>

<br> 

{% if location %}
			<td>  <a href="./{{route}}?numrows=0&action=0&parent_id={{back}}"> back to parent </a> </td>
			{% endif %}

 
  {% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}



 
   
{% endblock %}
